@import "../bootstrap/functions";
@import "../bootstrap/variables";

// Body
//
// Settings for the `<body>` element.

$body-bg: #131834;
$body-color: #575757;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

//# sourceMappingURL=roboto.css.map

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-base: $font-family-sans-serif;

// stylelint-enable value-keyword-case
$font-size-base: 14px; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base + 4);
$font-size-sm: ($font-size-base - 2);

$h1-font-size: 24px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$headings-margin-bottom: ($h1-font-size / 2);
$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.2;
$headings-color: #252525;

//Bootstrap Card Variables
$card-spacer-y: 20px;
$card-spacer-x: 24px;

//Border Radius
$border-radius-sm: 2px;
$border-radius: 6px;
$border-radius-lg: 8px;
$border-radius-xl: 10px !default;
$border-radius-xxl: 30px !default;
$border-radius-circle: 50% !default;

//Grid Gutter Space Between
$grid-gutter-width: 30px;

//Mixin Values True and False
$enable-shadows: true;

$app-primary: #1b223f !default;
$primary: $app-primary;
$secondary: #1d213f;

$sidebar-bg: #252525 !default;
$sidebar-text-color: #a1a1a1 !default;
$sidebar-bg-darken: darken($sidebar-bg, 3%);
$sidebar-hover-color: $white;
$sidebar-bg-darken-highlight: $app-primary;

// Links
$link-color: $app-primary;
$link-hover-color: darken($app-primary, 10%);

//Color Variables
$success: #4caf50;
$info: #00bcd4;
$warning: #ff9800;
$danger: #f44336;
$light: #e8eaf6;
$light-gray: #808080;
$dark: $gray-800;
$sepia: #7c3535;
$geekblue: #030852;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);

//Default shadow
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
$shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
$shadow-lg: 0 1px 8px -1px rgba(0, 0, 0, 0.20);
$shadow-xl: 0 0 16px 0px rgba(0, 0, 0, 0.20);
$avatar-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.20);

//Default Image Location
$image_path: "../assets/images" !default;

// Motion
// https://material.google.com/motion/duration-easing.html#duration-easing-natural-easing-curves
$transition-bezier: .05, .74, .27, .99 !default; // for nav, quickview

$transition-ease: cubic-bezier(0.4, 0.0, 0.2, 1) !default;
$transition-ease-out: cubic-bezier(0.0, 0.0, 0.2, 1) !default;
$transition-ease-in: cubic-bezier(0.4, 0.0, 1, 1) !default;

//Side Nav Width
$side-nav-width: 250px !default;
$mini-drawer-width: 80px !default;

//App Bar Height
$app-bar-height: 70px !default;

//Footer Height
$footer-height: 50px !default;

//latter Spacing variables
$letter-spacing-base: 3px !default;
$letter-spacing-lg: 6px !default;
$letter-spacing-xl: 8px !default;

//Custom Card Variables
$jr-card-shadow: 0 2px 5px 0 rgba($black, 0.26) !default;
$jr-card-margin: 30px !default;
$jr-card-padding: $jr-card-margin !default;
$jr-border: 1px solid $gray-400 !default;
$sub-heading-color: $light-gray !default;

//Button Variables
$btn-font-size-lg: $font-size-lg !default;
$btn-font-size: $font-size-base !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-font-size-xs: 10px !default;

$btn-padding-lg: 16px 24px !default;
$btn-padding: 12px 20px !default;
$btn-padding-sm: 8px 15px !default;
$btn-padding-xs: 6px 10px !default;

$btn-fab-size-lg: 70px !default;
$btn-fab-size-sm: 46px !default;
$btn-fab-size-xs: 40px !default;

$btn-line-height: 1.2;

//Sizes Variables
$size-10: 10px !default;
$size-20: 20px !default;
$size-30: 30px !default;
$size-40: 40px !default;
$size-50: 50px !default;
$size-60: 60px !default;
$size-70: 70px !default;
$size-80: 80px !default;
$size-90: 90px !default;
$size-100: 100px !default;
$size-120: 120px !default;

//Font Weight Variables
$font-weight-thin: 100 !default;
$font-weight-medium: 500 !default;
$font-weight-black: 900 !default;

//Nav
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg: $primary;