@import "global/variables";


.side-nav{
    background: #1d213f!important;
}


ul.nav-menu li.open button, 
ul.nav-menu li button:hover, 
ul.nav-menu li button:focus, 
ul.nav-menu li.open > a, 
ul.nav-menu li a:hover, 
ul.nav-menu li a:focus{
    background-color: transparent;
    color: #FFF;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    color: #fff!important;
    background: -webkit-gradient(linear,right top,left top,from(rgba(250,159,27,.7)),to(rgba(253,231,0,.7)));
    background: linear-gradient(270deg,rgba(250,159,27,.7),rgba(253,231,0,.7));
}
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.h-100vh{
    min-height: calc(100vh - 140px);
}

h2, .h2{
    @media screen and (max-width: 575px) {
        font-size: 17px;
    }
}

.card{
    background-color: $primary;
}
.card-img{
    width: auto;
    height: 45px;

    @media screen and (max-width: 575px) {
        height: 35px;
    }
}
.main-card-content{
    font-size: 16px;
    font-weight: 300;
    opacity: .8;

    @media screen and (max-width: 575px) {
        font-size: 13px;
    }

    @media screen and (max-width: 374px) {
        font-size: 10px;
    }
}
.main-card-count{
    font-size: 24px;

    @media screen and (max-width: 575px) {
        font-size: 18px;
    }
    @media screen and (max-width: 374px) {
        font-size: 14px;
    }
}
.side-nav .app-logo{
    min-height: 70px;
    padding: 20px;

    @media screen and (max-width: 1024px) {
        min-height: 30px;
    }
}
.user-nav{
    button{
        padding: 0px !important;
    }
}

.header-notifications{
    a{
        position: relative;

        &::before{
            content: "";
            position: absolute;
            bottom: -26px;
            right: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(to left, #fa9f1b, #fde700);
            opacity: 0;
            border-radius: 5px 5px 0 0;
            @media screen and (max-width: 575px) {
                bottom: -20px;
            }
        }

        &.active{
            &::before{
                opacity: 1;
            }
        }
    }
}

.head-avatar{
    height: 20px !important;
    width: 30px !important;

    @media screen and (max-width: 768px) {
        width: 24px !important;
    }
}

.dashboard-top-cards .card-body{
    padding-left: 10px;
    padding-right: 10px;

    @media screen and (max-width: 575px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.dashboard-top-cards{
    @media screen and (max-width: 575px) {
        margin-right: -9px;
        margin-left: -9px;
    }
    .col-6{
        @media screen and (max-width: 575px) {
            padding-left: 9px;
            padding-right: 9px;
        }
    }
}

.recharts-text.recharts-cartesian-axis-tick-value {
    fill: #ffffff;
    font-weight: 300;
    opacity: .8;

    @media screen and (max-width: 575px) {
        font-size: 12px;
    }
}

.customSelect{
    background: rgba($color: #FFF, $alpha: 0.1);
    border-radius: 20px;
    // padding-left: 20px;
    color: $white !important;
    font-weight: 300;
    font-size: 14px !important;
    font-family: "Montserrat" !important;
    height: 42px;
}
.customSelect svg{
    right: 15px;
    fill: $white;
}
.customSelect div div{
    padding-left: 20px;
    padding-right: 42px;
}
.customSelect:before,
.customSelect:after,
.custominput div:before,
.custominput div:after{
    display: none !important;
}

.jr-tabs-pills-ctr .nav-link{
    background: rgba($color: #FFF, $alpha: 0.05);
    color: rgba($color: #FFF, $alpha: 0.8) !important;
    padding: 9.5px 5px;
    border-radius: 20px;
    @media screen and (max-width: 575px) {
        font-size: 12px;
    }
}
.jr-tabs-pills-ctr .nav-item{
    margin-right: 15px;

    @media screen and (max-width: 575px) {
        margin-right: 5px;
    }

    &:last-child{
        margin-right: 0px;
    }
}

.gauge-chart{
    width: 150px;
    height: 150px;
    border: 10px solid #B8951B;
    border-radius: 50%;
}

.thermometer{
    width: auto !important;
}

.thermometer .thermometer__draw-b:before,
.thermometer .thermometer__draw-b:after{
    background-color: #fa9f1b !important;
}

.thermometer .thermometer__bg-color{
    background: linear-gradient(to top, #fa9f1b, #fde700) !important;
}

.thermometer--theme-light .thermometer__draw-a, 
.thermometer--theme-light .thermometer__draw-a:before, 
.thermometer--theme-light .thermometer__draw-a:after{
    background:#272D49 !important;
}

.thermometer--theme-light .thermometer__meter{
    background: #1b223f !important;
}
.thermometer__percent-current:after,
.thermometer__percent-current:before{
    display: none;
}
.thermometer .thermometer__percent-current{
    background-color: transparent !important;
    color: #FFF !important;
    bottom: -69px !important;
    right: 50% !important;
    left: initial !important;
    transform: translateX(60%) translateY(0%) !important;
    box-shadow: none !important;
    top: initial !important;
    padding: 0 !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    width: 50px;
}

.devicestate{
    .col-12,
    .col-6{
        @media screen and (max-width: 991px) {
            margin-bottom: 30px;
        }
    }
}
.jr-card{
    @media screen and (max-width: 767px) {
        padding: 20px;
    }
    @media screen and (max-width: 575px) {
        padding: 15px 10px;
    }
}
.devicestate span{
    margin-top: 25px;
}
#gauge-chart1,
#gauge-chart2{
    text-align: center;
    padding-top: 20px;

    & + span{
        @media screen and (max-width: 991px) {
            margin-top: 1rem;
        }
    }

}
#gauge-chart1 svg,
#gauge-chart2 svg{
    overflow: visible !important;
    min-height:100px;
}
@media (max-width:768px){
#gauge-chart1 .text-group,#gauge-chart2 .text-group{transform:translateY(70%) translateX(35%)}
.percent-text{font-size:20px !important;}
}
@media (max-width:350px){
    #gauge-chart1 .text-group,#gauge-chart2 .text-group{transform:translateY(60%) translateX(35%)}
    .percent-text{font-size:20px !important;}
    }
.tab-pane{
    .row {
        align-items: stretch;
    }
}

.devicestate .col-12{
    justify-content: space-between;
    display: flex;
    flex-flow: column;
}

.percent-text{
    transform: translateY(60px);
}

.piechart{
    text{
        fill: $white !important;
    }
}

.opacity-08 {
    opacity: 0.8; 
}

.formgroup{
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    height: 42px;
    padding: 10px 20px;
    margin-bottom: 20px;

    img{
        margin-right: 12px;
    }
    input{
        color: #FFF;
        font-size: 14px;

        *[placeholder]{
            color: rgba(255, 255, 255, 0.8);
            font-weight: 300;
        }
    }
    &.textarea{
        height: 300px;
        align-items: flex-start;

        textarea{
            height: 260px  !important;
            color: #FFF;
        }

    }

}

.resetpass .formgroup img{margin-right: 0;}

.col-primary{
    color: #fa9f1b !important;
}

.customButton{
    background: linear-gradient(to left, rgba(250, 159, 27, 0.7) 0%, rgba(253, 231, 0, 0.7)) !important;
    // background: linear-gradient(270deg, rgba(250, 159, 27, 0.7) 0%, rgba(253, 231, 0, 0.7) 100%);
    border-radius: 20px !important;
    color: #FFF !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    position: relative;
    min-width: 150px !important;
    max-height: 42px;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.customButton.lineButton{
    background: transparent !important;
    border: 1px solid #b87f24 !important;
    color: #fa9f1b !important;
}

.lineButton:hover{
    color: #FFF !important;
    border-color: transparent !important;
}

.customButton:before{
    content: "";
    background: linear-gradient(to right, rgba(250, 159, 27, 0.7) 0%, rgba(253, 231, 0, 0.7)) !important;
    border-radius: inherit;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.customButton:hover:before {
    opacity: 1;
  }
.customButton:active:before {
    opacity: 0;
}

.customButton span:first-child{
    z-index: 1;
    position: relative;
}

.page-heading{
    background: transparent;
    padding: 0px;
    box-shadow: none;

    @media screen and (max-width: 575px) {
        padding-top: 10px;
    }

    .title{
        color: $white;
        font-size: 22px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }
    nav{
        display: none;
    }
}
.profiledetail {
    li{
        padding: 10px 0;
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;

        @media screen and (max-width: 575px) {
            padding: 7px 0;
        }

        label{
            flex: 2 40%;

            @media screen and (max-width: 575px) {
                flex: 2 50%;
            }
        }

        label{
            color: rgba($color: $white, $alpha: 0.8);
            font-weight: 500;
            padding-right: 10px;
        }
        
        span, p{
            color: rgba($color: $white, $alpha: 0.8);
        }

        span{
            flex: 2 60%;
            @media screen and (max-width: 575px) {
                flex: 2 50%;
            }
        }

        .formgroup{
            flex: 2 60%;
            margin-bottom: 0;
            @media screen and (max-width: 575px) {
                flex: 2 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

    }
}

.btngroup{
    button{
        &:first-child{
            margin-right: 10px;
            @media screen and (max-width: 575px) {
                margin-right: 5px;
            }
        }

        @media screen and (max-width: 575px) {
            width: 49%;
            margin-right: 0px;
        }
        @media screen and (max-width: 375px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

button:not(table tfoot button) {
    @media screen and (max-width: 375px) {
        width: 100%;
        margin-bottom: 10px;
    }
}

thead tr{
    height: 40px !important;
    background: rgba($color: $white, $alpha: 0.05) !important;
    border-radius: 5px;
}
.customTable{
    margin-top: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
th, td{
    color: rgba($color: $white, $alpha: 0.8) !important;
    padding: 5px 10px 5px 30px !important;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.05) !important;
    white-space: normal;
}
th{
    white-space: nowrap;
}
tr td:last-child{
    white-space: nowrap;
}

thead tr{
    th{
        font-size: 15px !important;
        font-weight: 400 !important;
        border-bottom: none !important;
    }
}
.icon-btn{
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    font-size: 1.3rem !important;
    color: rgba($color: $white, $alpha: 0.8) !important;
}


tfoot td svg{
    color: rgba($color: #FFF, $alpha: 0.5) !important;
}

tfoot td div > div:nth-child(3) div div{
    padding-right: 25px !important;
}
tfoot td button{
    color: rgba($color: #FFF, $alpha: 0.5) !important;
}
.userhead {
    .formgroup{
        margin-right: 30px;
        @media screen and (max-width: 767px) {
            margin-right: 0;
            width: 100%;
        }
    }
    .d-flex{
        margin-bottom: 10px;
        @media screen and (max-width: 767px) {
            flex: 1 100%;
            margin-bottom: 10px;

            &:first-child{
                .customButton,
                h2 {
                    flex: 1;
                    margin-bottom: 0;
                }
                
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.customSwitch .text-success span:first-child span{
    background-color: #159045;
}
.col-yellow{
    color: #fa9f1b !important;
}


.paymentHead{
    margin-bottom: 20px;

    label{
        margin-right: 15px;
        @media screen and (max-width: 575px) {
            margin-right: 5px;
        }
        @media screen and (max-width: 374px) {
            margin-bottom: 5px;
        }
    }

    .d-flex:first-child{
        @media screen and (max-width: 374px) {
            flex-wrap: wrap;
        }
        .d-flex:first-child{
            margin-right: 30px;
            @media screen and (max-width: 992px) {
                margin-right: 20px;
            }

            @media screen and (max-width: 374px) {
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }
    }

    .d-flex{
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }

    .d-flex{
        .customButton{
            min-width: 130px !important;

            @media screen and (max-width: 767px) {
                margin-top: 10px;
                width: 49% !important;
            }
        }
        .customButton:first-child{
            margin-right: 30px;
            @media screen and (max-width: 992px) {
                margin-right: 10px;
            }
            @media screen and (max-width: 575px) {
                margin-right: 0px;
            }
        }
    }
}

.notifylist{
    li{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        border-bottom: 1px solid rgba($color: #FFF, $alpha: 0.05);
        color: rgba($color: #FFF, $alpha: 0.8);
        padding: 19px 0;

        &:first-child{
            padding-top: 5px;
        }

        &:last-child{
            border-bottom: none;
            padding-bottom: 0;
        }

        p{
            margin-bottom: 0;
            font-weight: 300;
            
            padding-right: 10px;

            

            @media screen and (min-width: 768px) {
                flex: 1 50%;
            }

            @media screen and (min-width: 1024px) {
                flex: 1 60%;
            }

            @media screen and (min-width: 1400px) {
                flex: 1 70%;
            }

            @media screen and (max-width: 767px) {
                flex: 1 100%;
                padding-right: 0;
                margin-top: 10px;
                order: 1;
            }
        }

        span{
            text-align: right;
            flex: 1;

            @media screen and (max-width: 767px) {
                text-align: left;
            }
        }

        
    }
}

.statistics{
    .state{
        text-align: center;
        margin-top: 30px;
        h5{
            color: rgba($color: #FFF, $alpha: 0.7);
        }
        h3{
            color: $white;
        }
    }

    .tab-content{
        margin-top: 50px;
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }

    .profiledetail{
        li{
            padding: 8px 0;

            &:first-child{
                padding-top: 0;
            }
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    .tab-pane{
        .col-12{
            &:last-child{
                .profiledetail{
                    margin-bottom: 0;
                }
            }
        }
    }
    
}

.subscription{

    .profiledetail{
        &:last-child{        
            margin-bottom: 0;
        }
        li{
            padding: 8px 0;
            flex-flow: row;

            &:first-child{
                padding-top: 0;
            }
            span,
            label{
                flex: 2 1 50%;
            }
        }
        
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    .customButton{
        max-width: 150px;
        margin-top: 20px;
    }
    
}

.fromto{
    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    label{
        margin-right: 10px;
        @media screen and (max-width: 575px) {
            margin-right: 5px;
        }
        @media screen and (max-width: 374px) {
            margin-bottom: 5px;
        }
    }
    .d-flex:first-child{
        margin-right: 20px;

        @media screen and (max-width: 1024px) {
            margin-right: 0px;
            margin-bottom: 20px;
        }
        
        @media screen and (max-width: 374px) {
            flex-wrap: wrap;
        }
        .d-flex:first-child{
            margin-right: 15px;
            @media screen and (max-width: 992px) {
                margin-right: 10px;
            }

            @media screen and (max-width: 374px) {
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }
    }

    button{
        @media screen and (max-width: 1024px) {
            margin-top: 20px;
        }
        @media screen and (max-width: 768px) {
            margin-top: 0px;
        }
        @media screen and (max-width: 575px) {
            margin-top: 20px;
        }
    }

    // .d-flex{
    //     @media screen and (max-width: 575px) {
    //         width: 100%;
    //     }
    // }
    .formgroup{
        max-width: 140px;
        @media screen and (max-width: 1024px) {
            max-width: 100%;
        }
    }
}


.invoicesetting{
    .customButton{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.invoice-table{
    thead{
        tr{
            background: transparent !important;
        }
    }
    th, td{
        border: none !important;
        padding: 15px 5px !important;
        font-weight: 500;
        // text-align: right;
    }
    tfoot{
        td{
            border-top: 1px solid rgba(255, 255, 255, 0.08) !important;
        }
    }
    @media screen and (max-width: 767px) {
        margin-top: 50px;
    }
    li {
        padding: 15px 0;
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-between;

        label{
            color: rgba(255, 255, 255, 0.8);
            font-weight: 500;
            padding-right: 10px;
        }

        span, p{
            color: rgba(255, 255, 255, 0.8);
        }

        &.invoice-footer{
            border-top: 1px solid rgba($color: #FFF, $alpha: 0.08);
        }

        ul{
            flex: 1 100%;
            padding-left: 25px;

            li{
                padding-bottom: 0px;
                
                label, span{
                    flex: 2 50%;
                }
                
            }

        }

    }
    
}
.customDialogue > div:nth-child(1){
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.customDialogue > div:nth-child(2) > div{
    background: #1b223f !important;
    margin: 10px !important;

    & > div:nth-child(2){
        overflow-y: visible;
    }

    & > div:nth-child(3){
        // flex-wrap: wrap;
        margin: 10px 24px 24px;
        button{
            margin-bottom: 10px;
         }
    }

}


.addcompany{
    .formgroup.textarea{
        height: 170px;
    }
}

.formgroup.select{
    background: transparent;
    padding: 0;
}

.companyinfo,
.deviceinfo{
    .userhead{
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
        div{
            flex: 1 50%;
        }

        .page-heading{
            margin-bottom: 0;
            flex: 1 49%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 1%;
        }
    }
}


.superadmindevice{
    .userhead {
        .d-flex{
            @media screen and (max-width: 575px) {
                flex-wrap: wrap;
                &:first-child{
                    order: 1;
                }
            }
            .d-block{
                flex: 1 100%;
                .customButton{
                    width: 100%;
                }
            }
        }
    }
    .jr-tabs-pills-ctr {
        @media screen and (max-width: 575px) {
            flex: 1 100%;
            flex-wrap: nowrap;
            order: 1;
            margin-top: 20px;
        }
        .nav-item{
            min-width: 170px;
            margin-bottom: 20px;
            @media screen and (max-width: 575px) {
                flex: 1 50%;
                min-width: initial;
            }
        }
    }
    table a{
        color: #fa9f1b !important;
        text-decoration: underline !important;
    }
    table .icon-btn a{
        color: transparent !important;
    }
}

.paymentstab{
    margin-bottom: 20px;
    .nav-link{
        min-height: 186px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        flex-flow: column;
        border-radius: 6px;

        @media screen and (max-width: 575px) {
            min-height: 90px;
            font-size: 14px;
        }

        span{
            display: block;
            font-size: 26px;
            font-weight: 300;
            @media screen and (max-width: 575px) {
                font-size: 18px;
            }
        }
    }
}

.pymntrcvd{
    .d-flex{
        margin-bottom: 20px;
    }
    .page-heading{
        margin-bottom: 0;
    }
}
.css-12zlm52-ReactDropdownSelect:focus, .css-12zlm52-ReactDropdownSelect:focus-within{
    box-shadow: none !important;
}
.react-dropdown-select{
    border: none !important;
    border-radius: 20px !important;
    margin-bottom: 20px;
    padding: 10px 17px !important;
}
.react-dropdown-select-content input,
.react-dropdown-select-content input::placeholder{
    color: #ffffff !important;
}
.react-dropdown-select-item{
    color: #000000;
}
.react-dropdown-select-dropdown{
    max-height: 150px !important;
}

.speedometer{
    @media screen and (max-width: 575px) {
        width: auto !important;
        height: auto !important;
    }
}


.devicestate{
    // margin-top: 20px;
    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}

  .svg-container {
    display: block;
    position: relative;
    width: 300px;
    height: 250px;
    // padding-bottom: 100%;
    // vertical-align: top;
    overflow: hidden;
    padding-top: 20px;
    margin: 0 15px;
    @media screen and (max-width: 767px) {
        margin: 0 5px;
    }
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
  }